{% extends '@Hostguest/BackEnd/layout.html.twig' %}
{% block content %}
    <div id="content" class="content">


    {{ form_start(BanForm) }}
    {{ form_end(BanForm) }}

    </div>


{% endblock  %}