
{% extends "HostguestBundle:Front:Layout.html.twig" %}
{% block  Home_front %}

    <section class="awe-parallax category-heading-section-demo" style="background-position: 50% -48px;">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="category-heading-content category-heading-content__2 text-uppercase">
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><span>Reservation</span></li>
                </ul>
            </div>
                <h3></h3>
                <br>
                <h2>Booking  Info<a href="flight-popup.html" class="flight-popup-open"><i class="awe-icon awe-icon-info"></i></a></h2>
            </div>
             </div>
    </div>

</section>

    <div class="awe-overlay"></div>

<div class="booking-info">
    <h3></h3>
    <h1>Booking Form</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="form-submit">
        <div class="add-to-cart"><button type="submit"><i class="awe-icon awe-icon-cart"></i>Reserver</button></div>
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('reservations_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({ format: 'yyyy-dd-mm' });
        });
    </script>
    {% endblock %}
